.dbContainer {
  width: 100%;
  padding: 1rem 2rem;
  border: 2px solid #000;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.dbContainerHeader {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.db {
  padding: 1rem;
  color: #000;
  border: 2px solid #000;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  text-align:center;
}
.dbContainerBox{
  margin-top: 2rem;
}
.dbSelected{
  padding: 1rem;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-weight: 600;
  font-size: 1rem;
  text-align:center;
}